%if thing.current_thread:
    <div class="infobar">
        warning: we're already featuring a live thread. you shouldn't submit a new link unless you are deleting this one:<br />
        <a href="${thing.current_thread.url()}">${thing.current_thread.title}</a><br />
    </div>
%endif

<h1>live: happening now</h1>

<form action="/admin/happening-now" method="POST">
    <input type="hidden" name="uh" value="${c.modhash}">
    <input type="url" name="url" size="40" value="${thing.current_thread.url(absolute=True) if thing.current_thread else ''}">
    <input type="submit">
</form>
